

body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
}

nav ul {
    display: flex;
    justify-content:space-between;
    /*text-align: justify;*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
        display: inline;
}

nav ul li a:hover {background-color: #555;}

nav ul li a{color: #FFFFFF;}

nav ul li a:visited{color: #FFFFFF;}

form {
    border: thin;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
}